---
import Layout from "../layouts/Layout.astro";
import Eduacacion from "../components/Eduacacion.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
import AboutMe from "../components/AboutMe.astro";
import Habilities from "../components/Habilities.astro";
import Proyectos from "../components/Projects.astro";
import BooksIcons from "../icons/BooksIcons.astro";
import ProfileIcon from "../icons/ProfileIcon.astro";
import BrainIcon from "../icons/BrainIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
---

<Layout>
  <main class="px-4">
    <SectionContainer class="pt-16 md:pt-32 pb-20">
      <Hero />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileIcon class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id="experiencia" class="py-20">
      <TitleSection>
        <BriefcaseIcon class="size-8" />
        Experiencia Laboral
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Proyectos />
    </SectionContainer>
    <SectionContainer id="educacion" class="py-20">
      <TitleSection>
        <BooksIcons class="size-8" />
        Educación
      </TitleSection>
      <Eduacacion />
    </SectionContainer>
    <SectionContainer id="habilidades" class="pt-20">
      <TitleSection>
        <BrainIcon class="size-8" />
        Habilidades
      </TitleSection>
      <Habilities />
    </SectionContainer>
  </main>
</Layout>
