<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 lg:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 text-pretty order-2 md:order-1 text-justify"
  >
    <p>
      Soy Pau Sevilla, estudiante de
      <strong>Ingeniería Informática en la FIB - UPC</strong>, en Barcelona.
      Desde los 14 años, la programación ha sido mi pasión y he dedicado gran
      parte de mi tiempo a aprender y perfeccionar mis habilidades en este
      campo.
    </p>

    <p>
      Me considero una persona curiosa y orientada a los retos. He trabajado con
      <strong>diversos lenguajes y tecnologías</strong>, incluyendo proyectos
      relacionados con <strong>inteligencia artificial</strong>, siempre
      buscando nuevas formas de aplicar mis conocimientos y mejorar mis
      capacidades.
    </p>

    <p>
      Vivo en Barcelona, una ciudad que impulsa mi curiosidad por la <strong
        >innovación y la tecnología</strong
      >. Mi objetivo es seguir creciendo profesionalmente y contribuir a
      proyectos que generen un impacto positivo en la sociedad.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/pau.jpg"
    alt="Pau Sevilla Photo"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
