---
interface Props {
  title: string;
  description: string;
  date: string;
}

const { title, description, date } = Astro.props;
---

<div
  class="relative mx-8 pb-12 grid gap-y-2 before:absolute before:left-[-19px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2 p-4 bg-gray-800/70 rounded-lg">
    <div class="sticky top-0">
      <span class="text-blue-500 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-semibold text-blue-500">{title}</h3>
      <time class="p-0 m-0 text-sm text-gray-300">{date}</time>
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 text-gray-300 md:col-span-3 p-4 bg-gray-800/70 rounded-lg"
  >
    {description}
  </div>
</div>
