---
import ExperienceItem from "./EduacionItem.astro";
const Experience = [
  {
    date: "Setiembre 2023 - Actualmente",
    title: "Grado de Ingeniería Informática (FIB - UPC)",
    description:
      "Estudiante de Ingeniería Informática en la Facultad de Informática de Barcelona (FIB) de la Universidad Politécnica de Cataluña (UPC).",
  },
  {
    date: "Setiembre 2021 - Junio 2023",
    title: "2n BTX - Tecnológico (Maristes Rubí)",
    description:
      "Estudiante de Bachillerato Tecnológico en el Colegio Maristas de Rubí. Especializado en tecnología y programación.",
  },
  {
    date: "Setiembre 2017 - Junio 2021",
    title: "ESO (Maristes Rubí)",
    description:
      "Estudiante de Educación Secundaria Obligatoria en el Colegio Maristas de Rubí.",
  },
];
---

<ol class="relative mt-16">
  {
    Experience.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
