---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Diciembre 2024 - Presente",
    title:
      "Migración de una Web de control remoto de equipos universitarios - InLab FIB",
    description:
      "Desarrollo full-stack en Laravel y Angular de aplicaciones web. InLab es una empresa tecnológica de innovación para estudiantes de la FIB (Facultad de Informática de Barcelona). Trabajo implementando funcionalidades innovadoras y creando interfaces modernas y responsivas, colaborando en equipo siguiendo metodologías ágiles y participación activa en proyectos que impulsan la innovación tecnológica.",
    link: "https://inlab.fib.upc.edu/",
    image: "/inlab-fib.webp",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
