---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`${className} w-full mx-auto scroll-m-20 container lg:max-w-4xl md:max-w-xl`}
>
  <slot />
</section>
